<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config.sitename}后台管理系统</title>
<script type=text/javascript src="__PUBLICURL__/js/jquery.v1.7.2.js"></script>
<script type=text/javascript src="__PUBLICURL__/js/jquery.form.js"></script>
<script type=text/javascript src="__PUBLICURL__/js/common.js"></script>
<script type=text/javascript src="__PUBLICURL__/dialog/jquery.artDialog.js?skin=default"></script>
<script type=text/javascript src="__PUBLICURL__/dialog/plugins/iframeTools.js"></script>
<link href="__PUBLICURL__/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLICURL__/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="login">
<h1>欢迎登陆管理系统</h1>
<form onSubmit="return false;" id="form" data-parsley-validate>
  <div class="main">
    <div class="tip">用户名：</div>
    <div class="text"><input name="user" type="text" class="user" id="user" tabindex="1" /></div>
    <div class="tip">密码：</div>
    <div class="text"><input class="password" name="password" type="password" id="password" tabindex="2" /></div>
  </div>
  <div class="button">
    <button type="submit"  tabindex="3" id="auth_signin">登录</button>
    <button type="button"  tabindex="4">重置</button>
  </div>
</form>
  <div class="copyright"><!--copyright--></div>
</div>
<script type="text/javascript">
	$("#user").focus();
	$(function(){ 
		$('#auth_signin').click(function(){
			$.post("__URL__/check/time-<?php echo time() ?>-ajax-true",$('#form').serialize(),function(data){
				var status=data.status;
				if (data.status){
						art.dialog.tips(data.message+'，正在进入系统 ...', 3);
						location.href = '__APP__/';
				}else{
						art.dialog.tips(data.message, 3);
				};
			},'json');
		});
	}); 
</script>
</body>
</html>
