  内容排序：
  <select id="sequence" onchange="javascript:location.href=this.value;">
  	<option value="__URL__/index/id-{$class_info.cid}-sequence-1" <?php if($_GET['sequence']==1){ ?> selected="selected" <?php } ?> >更新时间 新->旧</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-2" <?php if($_GET['sequence']==2){ ?> selected="selected" <?php } ?> >更新时间 旧->新</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-3" <?php if($_GET['sequence']==3){ ?> selected="selected" <?php } ?> >内容ID 大->小</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-4" <?php if($_GET['sequence']==4){ ?> selected="selected" <?php } ?> >内容ID 小->大</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-5" <?php if($_GET['sequence']==5){ ?> selected="selected" <?php } ?> >添加时间 新->旧</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-6" <?php if($_GET['sequence']==6){ ?> selected="selected" <?php } ?> >添加时间 旧->新</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-7" <?php if($_GET['sequence']==7){ ?> selected="selected" <?php } ?> >访问次数 多->少</option>
    <option value="__URL__/index/id-{$class_info.cid}-sequence-8" <?php if($_GET['sequence']==8){ ?> selected="selected" <?php } ?> >访问次数 少->多</option>
  </select>
  &nbsp;&nbsp;
  状态：
  <select id="status" onchange="javascript:location.href=this.value;">
  	<option value="__URL__/index/id-{$class_info.cid}-status-1" <?php if($_GET['status']==1){ ?> selected="selected" <?php } ?> >已发布</option>
    <option value="__URL__/index/id-{$class_info.cid}-status-2" <?php if($_GET['status']==2){ ?> selected="selected" <?php } ?> >未发布</option>
    <option value="__URL__/index/id-{$class_info.cid}-status-5" <?php if($_GET['status']==5){ ?> selected="selected" <?php } ?> >已归档</option>
  </select>
  &nbsp;&nbsp;
  推荐位：
  <select id="position" onchange="javascript:location.href=this.value;">
  	<option value="__URL__/index/id-{$class_info.cid}">默认</option>
  <!--foreach:{$position_list $vo}--> 
  	<option value="__URL__/index/id-{$class_info.cid}-position-{$vo.id}"  <?php if($_GET['position']==$vo['id']){ ?> selected="selected" <?php } ?> >{$vo.name}</option>
  <!--{/foreach}-->
  </select>
  &nbsp;&nbsp;
  搜索：
  <input style="width:100px" name="search" type="text" class="text_value" id="search" value="<?php echo urldecode($_GET['search']) ?>" />
  &nbsp;&nbsp;<input type="button"  class="button_small" onclick="javascript:location.href='__URL__/index/id-{$class_info.cid}-search-'+$('#search').val();" value="搜索" />