<div class="page_function">
  <div class="info">
    <h3>登录记录</h3>
    <small>查看用户最近登陆记录信息</small> </div>
</div>
<div class="page_main">
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="10%"><center>ID</center></th>
        <th width="20%">用户</th>
        <th width="30%"><center>时间</center></th>
        <th width="20%"><center>IP</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td><center>{$vo.id}</center></td>
        <td>{$vo.user}</td>
        <td><center>{$php(echo date('Y-m-d H:i:s',$vo['time']))}</center></td>
        <td><center>{$vo.ip}</center></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
  <div class="page">{$page}</div>
</div>