	<div class="title"><a href="javascript:void(0)">团队管理</a></div>
    <ul class="load menu">
      <!--foreach:{$list $vo}-->
      <li><a href="__APP__/{$vo.module}">{$vo.name}</a></li>
      <!--{/foreach}-->
      <!--hook-->
	  <?php module('common')->plus_hook('menu','user_list_tpl');  ?>
	  <!--hook end-->
    </ul>
    <!--hook-->
	<?php module('common')->plus_hook('menu','user_tpl');  ?>
	<!--hook end-->
    
<script>
url=$(".load li:first a").attr("href");
if(!url||url=='#'){
	ajaxload('__APP__/menu/error');
}else{
	ajaxload(url);
}
</script>
