<div class="title"><a href="javascript:void(0)">系统设置</a></div>
    <ul class="load menu">
      <!--foreach:{$list $vo}-->
      <li><a href="__APP__/{$vo.module}">{$vo.name}</a></li>
      <!--{/foreach}-->
      <!--hook-->
	  <?php module('common')->plus_hook('menu','index_list_tpl');  ?>
	  <!--hook end-->  
      <!--foreach:{$category $vo}-->
      <li><a href="__APP__/{$vo.module}">{$vo.name}</a></li>
      <!--{/foreach}-->
      <!--hook-->
      <?php module('common')->plus_hook('menu','catgory_list_tpl');  ?>
      <!--hook end-->
    </ul>

<script>
url=$(".load li:first a").attr("href");
if(!url||url=='#'){
	ajaxload('__APP__/menu/error');
}else{
	ajaxload(url);
}
</script>