<style>
html,body { overflow:hidden;}
</style>
<div class="page_function">
  <div class="info">
    <h3>快速编辑</h3> <small>快速编辑一些常用内容</small> </div>
</div>
<div class="page_form">
  <form action="__URL__/edit_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form" autocomplete="off">
    <div class="page_table form_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100" align="right">标题</td>
          <td><input name="title" type="text" class="text_value" id="title" value="{$info.title}" reg="\S" msg="标题不能为空" /></td>
        </tr>
        <tr>
          <td width="100" align="right">推荐位</td>
          <td>
          	<!--foreach:{$position_list $vo}--> 
            <input name="position[]" type="checkbox" value="{$vo.id}" <?php if(is_array($position_array)){ if(in_array($vo['id'],$position_array)){ ?> checked="checked" <?php }} ?> /> {$vo.name}&nbsp;&nbsp;
          	<!--{/foreach}-->
            </td>
        </tr>
        <tr>
          <td width="100" align="right">英文URL名称</td>
          <td><input name="urltitle" type="text" class="text_value" id="urltitle" value="{$info.urltitle}" /></td>
        </tr>
        <tr>
        <td width="100" align="right">描述</td>
        <td><textarea name="description" class="text_textarea" id="description">{$info.description}</textarea>
        </td>
        </tr>
      <tr>
          <td width="100" align="right">关键词</td>
          <td><input name="keywords" type="text" class="text_value" id="keywords" value="{$info.keywords}" />
          </td>
        </tr>
      <tr>
        <td width="100" align="right">更新时间</td>
        <td>
          <span style=" float:left"><input name="updatetime"  id="updatetime" type="text" class="text_value" style="width:250px;" value="<?php echo date('Y-m-d H:i:s') ?>" reg="\S" msg="更新时间不能为空" /></span><div id="updatetime_button" class="time" style="float:left"></div>
          <script>$('#updatetime_button').calendar({ id:'#updatetime',format:'yyyy-MM-dd HH:mm:ss'});</script>
        </td>
        </tr>
      <tbody id="expand">
      </tbody>
      <!--hook-->
       <?php module('common')->plus_hook('content','edit_tpl',$info);  ?>
      <!--hook end-->
      <?php if(model('user_group')->model_power('content','past')){ ?>
      <tr>
        <td width="100" align="right">状态</td>
        <td>
          <input name="status" type="radio" value="1" checked="checked"  /> 发布&nbsp;&nbsp;<input name="status" type="radio" value="0"  /> 待审&nbsp;&nbsp;
        </td>
        </tr>
      <?php }else{ ?>
      <input name="status" id="status" type="hidden" value="0" />
      <?php } ?>
      
      
        
      </table>
    </div>
    <?php if(model('user_group')->model_power('content','add')||model('user_group')->model_power('content','edit')){ ?>
    <!--普通提交-->
    <div class="form_submit">
      <input name="aid" type="hidden" value="{$info.aid}" />
      <input name="cid" type="hidden" value="{$info.cid}" />
      <input name="file_id" id="file_id" type="hidden" value="{$file_id}" />
      <button type="submit" class="button">保存</button>
    </div>
    <?php } ?>
  </form>
</div>
</div>
<script type="text/javascript">
//TAG
$('#keywords').tagsInput(
{
	'defaultText':'关键词会转为tag'
});
$('.corol_button').soColorPacker({
	textChange:false, 
callback:function(c){
	$('#title').css("color", c.color);
	$('#font_color').val(c.color);
	}
});
var win = art.dialog.open.origin;
//提交表单
saveform({success:function(msg){
	win.location.reload();
    art.dialog.close();
}});
</script>