<div id="FormPrintArea">
	<div class="page_function">
	  <div class="info">
	    <h3>{$form_info.name}处理单</h3>
	    <small>打印时间:<?php echo date('Y-m-d H:i');?></small>
	  </div>
	</div>
	<div class="page_form">
		<div class="page_table form_table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		    <tr style="height:0px !important">
		    <td width="100" style="height:0px !important" align="right"></td>
		    <td style="height:0px !important"></td>
		    </tr>
		      <!--foreach:{$field_list $vo}-->
		      {$php( echo model('expand_model')->get_field_text($vo,$info[$vo['field']]))}
		      <!--{/foreach}-->
		    </table>
		</div>
	</div>
</div>
<button type="submit" class="button" id="print_btn">打印</button>
<div class="page_form" style="line-height:30px"><b>提示（以下内容不会出现在打印纸张上）：</b>如要去除打印纸张上的网址URL信息、页面、打印时间等内容，请根据您的浏览器做如下设置：<br>
<li><b>Internet Explorer (版本6.0+): </b>打开IE浏览器，点击【菜单】-> 点击【页面设置】，在打开的对话框的“页眉页脚”部分，将URL、标题等设置为“空”，然后点击【确定】后开始点击上方的【打印】按钮。</li>
<li><b>Mozilla Firefox (版本3.5+): </b>打开火狐浏览器，点击【菜单】-> 点击【打印】->点击【页面设置】，在打开的对话框切到的“页边距和页眉/页脚”选项卡，将URL、标题等设置为“空”，然后点击【确定】后开始点击上方的【打印】按钮。</li>
 </div>
<script>
$(document).ready(function(){
  $("button#print_btn").click(function(){
  $("div#FormPrintArea").printArea();
});
});
</script>