<link href="__PUBLICURL__/ztree/css/zTreeStyle.css" rel="stylesheet" type="text/css" />
<script src="__PUBLICURL__/ztree/jquery.ztree.core.js"></script>
<script src="__PUBLICURL__/ztree/jquery.ztree.exedit.js"></script>
<script src="__PUBLICURL__/ztree/jquery.ztree.excheck.js"></script>
    
    
<SCRIPT type="text/javascript">
		<!--
		var setting = {
			async: {
				enable: true,
				url:"__URL__/getJson",
				autoParam:["id", "name=n", "level=lv"],
				dataFilter: filter
			},
			view: {expandSpeed:"",
				addHoverDom: addHoverDom,
				removeHoverDom: removeHoverDom,
				selectedMulti: false
			},
			edit: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				beforeRemove: beforeRemove,
				beforeRename: beforeRename,
				onDrop: zTreeOnDrop,
				onRemove: zTreeOnRemove,
				onRename: zTreeOnRename,
			}
		};
function zTreeOnRemove(event, treeId, treeNode) {
	ajaxpost_w({
		url:'__URL__/del',
		data:{id:treeNode.id},
		tip:1,
	});
}
function zTreeOnDrop(event, treeId, treeNodes, targetNode, moveType) {
	//var obj=eval('(' + treeNodes + ')');JSON.parse(obj); 
	var data=JSON.stringify(treeNodes);
		target=JSON.stringify(targetNode);
	ajaxpost_w({
		url:'__URL__/sequence',
		data:{data:data,target:target,type:moveType},
		tip:1,
	});
};
function zTreeOnRename(event, treeId, treeNode, isCancel) {
console.log(treeNode);
	ajaxpost_w({
		url:'__URL__/edit',
		data:{id:treeNode.id,name:treeNode.name,pid:treeNode.pId,parent:treeNode.isParent,level:treeNode.level},
		tip:1,
	});
}
		function filter(treeId, parentNode, childNodes) {
			if (!childNodes) return null;
			for (var i=0, l=childNodes.length; i<l; i++) {
				childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
			}
			return childNodes;
		}
		function beforeRemove(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			zTree.selectNode(treeNode);
			return confirm("确认删除 区域 -- " + treeNode.name + " 吗？");
		}		
		function beforeRename(treeId, treeNode, newName) {
			if (newName.length == 0) {
				setTimeout(function() {
					var zTree = $.fn.zTree.getZTreeObj("tree");
					zTree.cancelEditName();
					alert("区域名称不能为空.");
				}, 0);
				return false;
			}
			return true;
		}

		var newCount = 1;
		function addHoverDom(treeId, treeNode) {
			var sObj = $("#" + treeNode.tId + "_span");
			if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
			var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
				+ "' title='add node' onfocus='this.blur();'></span>";
			sObj.after(addStr);
			var btn = $("#addBtn_"+treeNode.tId);
			if (btn) btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("tree");
				zTree.addNodes(treeNode, {id:({$newid} + newCount), pId:treeNode.id, name:"新区域" + (newCount++)});
				return false;
			});
		};
		function removeHoverDom(treeId, treeNode) {
			$("#addBtn_"+treeNode.tId).unbind().remove();
		};

		$(document).ready(function(){
			$.fn.zTree.init($("#tree"), setting);
		});
		//-->
	</SCRIPT>
	<style type="text/css">
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
	</style>

<div class="page_function">
  <div class="info">
    <h3>区域管理</h3>
    <small>使用以下功能进行区域添加操作</small> </div>
  <div class="exercise"> 
   <a href="javascript:menuload('__URL__')">区域列表</a>
   <?php if(model('user_group')->model_power('area','add')){ ?>
   <!--foreach:{$model_list $vo}-->
   <a href="javascript:menuload('__APP__/area/info/')">添加区域</a>
   <!--{/foreach}-->
   <?php } ?>
   
   </div>
</div>
<div class="page_main">
    <div class="page_table form_table" id="tab2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <ul id="tree" class="ztree"></ul>
              </td>
            </tr>
            
        </table>
    </div>
</div>
<script>
//栏目删除
function del(url,cid,obj) {
	var obj;
	ajaxpost({
		name:'删除此栏目会删除栏目下的内容!',
		url:url,
		data:{cid:cid},
		tip:true,
		success:function(){
			$(obj).parent().parent().parent().remove();
		}
	});
}
//栏目排序
function sequence(cid,sid){
	ajaxpost_w({
		url:'__URL__/sequence',
		data:{ cid:cid, sequence:sid },
		tip:1
	});
}
</script>