<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>请根据{$action_name}操作流程执行操作。</small> </div>
  	<div class="exercise"> 
	<a href="javascript:history.go(-1)">返回上页</a>
	<a href="javascript:;" onclick="quitedt('__URL__/dict_edt/','添加字典数据')">添加字典数据</a>   
    </div>
   </div>
</div>
<div class="page_main">
<form action="__URL__/batch" method="post" name="check">
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">	
      <!--foreach:{$list $vo}-->
      <tr>
        <td><input name="id[]" value="{$vo.id}" type="checkbox"/>
           )
			<input type="radio" name="by[{$vo.id}]" id="radio" value="2" checked="checked"/>编辑
         	<input type="radio" name="by[{$vo.id}]" id="radio" value="1" />删除
	        <input name="name[{$vo.id}]" value="{$vo.name}" class="text_value" />
	        (日期归档) </td>
        </tr>
      <!--{/foreach}-->
    </table>
  </div>
<div class="page_tool">
  <div class="function">
  <input type="button" onclick="javascript:selectall('id[]');" class="button_small" value="全选" />
  <input type="hidden" name="status" value="6" />
  <input type="submit" class="button_small" value="执行操作" />
  </div>
  <div class="page" >{$page}</div>
</div>
</form>
</div>
<script type="text/javascript">
//选择
function selectall(name){   
    $("[name='"+name+"']").each(function(){//反选   
    if($(this).attr("checked")){   
          $(this).removeAttr("checked");   
    }else{   
          $(this).attr("checked",'true');   
    }   
    })  
}
function quitedt(url,title){
	urldialog({
	title:title,
	url:url,
	width:550,
	height:180
	});
}
</script>