<form action="__URL__/index" method="get" name="event_search"> 
	<input name="type" value="{$type}" type="hidden">
归档日期：
	<?php echo model('event')->get_set_select('weekday',1,$_GET['weekday'])?>
活动开始日期：
	<input name="stime" id="stime" type="text" class="text_value" style="width:80px;" value="<?php if(!empty($_GET['stime'])) echo $_GET['stime']?>" readonly/>
结束日期：
	<input name="etime" id="etime" type="text" class="text_value" style="width:80px;" value="<?php if(!empty($_GET['etime'])) echo $_GET['etime']?>" readonly/>
招募状态：
	<select id="status" name="status">
	  	<option value="" <?php if(empty($_GET['status'])){ ?> selected="selected" <?php } ?> >不限制</option>
	  	<option value="1" <?php if($_GET['status']==1){ ?> selected="selected" <?php } ?> >招募中</option>
	    <option value="2" <?php if($_GET['status']==2){ ?> selected="selected" <?php } ?> >已结束</option>
	</select>
关键字：
	<input style="width:100px" name="key" type="text" class="text_value" id="key" value="<?php echo urldecode($_GET['key']) ?>" />
  &nbsp;&nbsp;<input name="submit" type="submit"  class="button_small" value="搜索" />
</form>