<div class="page_function">
  <div class="info">
    <h3>管理首页</h3>
    <small><font color="#333">欢迎使用 {$config.sitename}管理系统 </font>
    </div>
  <div class="tip">
  {$user.user} [{$user.nicename}]&nbsp;&nbsp;您当前登录时间为：{$php( echo date('Y-m-d H:i:s',$user['logintime']))}&nbsp;&nbsp;登录IP为: {$user.ip}
  </div>
<!--[if lt IE 8]> 
<div class="index_tip"><p>您正在使用IE6或IE7为了您更好的体验，请升级浏览器至IE8以上或者更换其他浏览器<a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a> 其他浏览器: 
<a href="http://www.mozillaonline.com/">Firefox</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome</a></p></div>
<![endif]-->
</div>
<div class="page_main">
<h3>基本信息</h3>
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">程序版本: </td>
        <td width="250">{$config.ver_name} {$config.ver}</td>
        <td width="120">服务器时间: </td>
        <td><?php echo date("Y-m-d G:i T",time());  ?></td>
      </tr>
      <tr>
        <td width="120">当前模板: </td>
        <td width="250">{$config_array['TPL_TEMPLATE_PATH']}</td>
        <td width="120">伪静态: </td>
        <td><?php if($config_array['URL_REWRITE_ON']){echo '<font color=green>已开启</font>';} else {echo '<font color=red>未开启</font>';} ?></td>
      </tr>
    </table>
  </div>
<h3>环境信息</h3>
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">操作系统: </td>
        <td width="250">{$php(echo PHP_OS;)}</td>
        <td width="120">服务器地址: </td>
        <td>{$_SERVER.SERVER_ADDR}:{$_SERVER.SERVER_PORT}</td>
      </tr>
      <tr>
        <td>服务器时间: </td>
        <td><?php echo date("Y-m-d G:i T",time());  ?></td>
        <td>WEB服务器: </td>
        <td><?php echo $_SERVER['SERVER_SOFTWARE'] ; ?></td>
      </tr>
      <tr>
        <td>服务器语言: </td>
        <td><?php echo getenv("HTTP_ACCEPT_LANGUAGE") ; ?></td>
        <td>PHP版本: </td>
        <td><?php echo PHP_VERSION ; ?></td>
      </tr>
      <tr>
        <td>图像处理支持: </td>
        <td><?php if(function_exists("imageline")==1){echo '<font color=green><b>√</b></font>';} else {echo '<font color=red><b>×</b></font>';} ?></td>
        <td>Session支持: </td>
        <td><?php if(function_exists("session_start")==1){echo '<font color=green><b>√</b></font>';} else {echo '<font color=red><b>×</b></font>';} ?></td>
      </tr>
      <tr>
        <td>脚本运行内存: </td>
        <td><?php echo get_cfg_var("memory_limit")?get_cfg_var("memory_limit"):"无" ; ?></td>
        <td>上传大小限制: </td>
        <td><?php echo get_cfg_var("upload_max_filesize")?get_cfg_var("upload_max_filesize"):"不允许上传文件" ; ?></td>
      </tr>
      <tr>
        <td>POST提交限制: </td>
        <td><?php echo get_cfg_var("post_max_size") ; ?></td>
        <td>脚本超时时间: </td>
        <td><?php echo get_cfg_var("max_execution_time") ; ?> s</td>
      </tr>
      <tr>
        <td>被屏蔽的函数: </td>
        <td><?php echo get_cfg_var("disable_functions")?get_cfg_var("disable_functions"):"无" ; ?></td>
        <td width="120">实用工具: </td>
        <td> <a href="javascript:;" onclick="bom()">BOM清除</a></td>
      </tr>
    </table>
  </div>
  <h3>程序信息</h3>
  <div class="page_table  table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">官方主页: </td>
        <td width="250"><a href="http://www.vbadu.com" target="_blank">www.zyzcms.com</a></td>
        <td width="120">官方论坛: </td>
        <td><a href="http://www.vbadu.net" target="_blank">www.zyzcms.net</a></td>
      </tr>
      <tr>
      	<td width="120">BUG反馈: </td>
        <td width="250"><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=help@vbadu.com" style="text-decoration:none;"><img src="__PUBLICURL__/images/email.png"/></a></td>
        
        <td width="120">QQ群: </td>
        <td><a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=0a81de533a256f872012d732ac3a0b7ec8553add77bdf1b5bb9d9d97b6b08e42"><img border="0" src="__PUBLICURL__/images/qqgroup.png" alt="八度志愿者系统交流群" title="八度志愿者系统交流群"></a></td>
      </tr>
      <tr>
        <td>项目负责人：</td>
        <td>Jacochan</td>
        <td>项目成员：</td>
        <td><p>Jaochan、Demon、陆陆</p></td>
      </tr>
      <tr>
        <td width="120">开发团队: </td>
        <td width="250">上饶市八度印象科技有限公司</td>
        <td width="120">帮助手册: </td>
        <td><a href="http://www.vbadu.net/help/" target="_blank">http://www.zyzcms.net/help</a></td>
      </tr>
      
     
    </table>
  </div>
</div>
<div style=" clear:both;margin:5px 0;display:block; width:100% ; height:10px"></div>
</div>
<script>
function bom() {
	ajaxpost({
		name:'本操作可能需要一些时间，请确认清除BOM！',
		url:"__URL__/tool_bom",
		tip:1
	});
};
</script>