<script>
/*
id 区域ID，
name 表单NAME，默认构成的是 表单名[0] 如：<select name="area[0]"></select>
key 级联表单序号，默认是0
*/
function ajax_area(id,name) {
	//console.log(id);
	var ids= new Array();
	ids=id.split(",");
	var tid=0;
	for (i=0;i<ids.length ;i++ ){
		getarea(tid,name,i,ids[i]);
		tid=ids[i];
	} 
}
function getarea(id,name,key,def) {
	if(key==4) return;
	$.getJSON("__APP__/index/getAreaJson/id-"+id+"", function(json) {
		if (key == null || id==0) key=0;
		if (json != null) {
			var selectdom,
				selectold = document.getElementById(name+"_"+key);
				//console.log("area"+key);
			if (selectold!=null){
				if (key==1){
					if (document.getElementById(name+"_1")!=null) document.getElementById("area1").removeChild(document.getElementById(name+"_1"));
					if (document.getElementById(name+"_2")!=null) document.getElementById("area2").removeChild(document.getElementById(name+"_2"));
					if (document.getElementById(name+"_3")!=null) document.getElementById("area3").removeChild(document.getElementById(name+"_3"));
				}else if(key==2){
					if (document.getElementById(name+"_2")!=null) document.getElementById("area2").removeChild(document.getElementById(name+"_2"));
					if (document.getElementById(name+"_3")!=null) document.getElementById("area3").removeChild(document.getElementById(name+"_3"));
				}else if(key==3){
					if (document.getElementById(name+"_3")!=null) document.getElementById("area3").removeChild(document.getElementById(name+"_3"));
				}
				if (document.getElementById(name+"_4")!=null) document.getElementById("area4").removeChild(document.getElementById(name+"_4"));
			}
			if (json.code==0){
				return;
			}
			selectdom = document.createElement('select'); 
			selectdom.id = name+"_"+key;   
			selectdom.name = name+"["+key+"]"; 
			document.getElementById("area"+key).appendChild(selectdom);
			/*
			var select_change = document.createAttribute("onchange");
			select_change.nodeValue = "getarea(this.value,'"+name+"',"+(key+1)+",this.value)"; 
			selectdom.setAttributeNode(select_change); 
			*/
			selectdom.add(new Option('请选择',''),0) 
			var _select = document.getElementById(name+"_"+key);
			_select.addEventListener("change",function(){getarea(this.value,name,key+1,this.value);},false); 
			for(var item in json.data) {
				_select.options.add(new Option(json.data[item].value,json.data[item].id)); 
			}
			for (var i = 0; i < _select.options.length; i++) { 
				if (_select.options[i].value == def) { 
					_select.options[i].selected=true; 
					break; 
				} 
			}
		}
	});
}
</script>
<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>请根据{$action_name}操作流程执行操作。</small> </div>
</div>
<div class="tab" id="tab"> 
   	<a class="selected" href="#tab1">第一步：填写基本内容</a>
   	<a href="#tab2">第二步：填写活动说明</a> 
	<a href="javascript:history.go(-1)">返回上页</a>
</div>
<div class="page_form">
  <form action="__URL__/edt/time-<?php echo time(); ?>-ajax-true" method="post" id="form" autocomplete="off">
    <div class="page_table form_table" id="tab1">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="page_table form_table">
        <tr>
          <td width="100" align="right">活动标题</td>
          <td><input name="title" type="text" class="text_value" id="title" style="float:left; width:300px;<?php 
          if (isset($info['font_bold']))  echo 'font-weight:bold;';
          if (isset($info['font_color']))  echo 'color:'.$info['font_color'];?>" value="{$info.title}" reg="\S" msg="标题不能为空" />            <div class="corol_button"></div>
            <div onclick="fontbold()" class="bold_button"></div>
            <input id="font_color" name="font_color" type="hidden" value="{$info.font_color}" />
            <input id="font_bold" name="font_bold" type="hidden" value="{$info.font_bold}" /></td>

        <td width="100" align="right">缩略图</td>
        <td>
          <?php echo module('editor')->get_image_upload('image1','image',false,'editor_content') ?>
          <input name="image" type="text" class="text_value" id="image" style="width:220px; float:left" value="{$info.image}"/> 
          &nbsp;&nbsp;<input type="button" id="image1" class="button_small" value="选择图片" />
        </td>
        </tr>
        <tr>
          <td align="right">服务归档</td>
          <td>
          <select name="type"  reg="." id="type" msg="服务类别未选择">
              <option value="">======选择服务类别======</option>
              <!--foreach:{$category_list $vo}--> 
              <option value="{$vo['cid']}" <?php if($info['type']==$vo['cid']) { ?> selected="selected" <?php } ?>>
                  {$vo['cname']}
              </option>
              <!--{/foreach}-->
            </select>
          </td>          <td align="right">日期归档</td>
          <td><?php echo model('event')->get_set_select('weekday',1,$info['weekday'])?></td>
        </tr>
        <tr>
          <td align="right">所在区域</td>
          <td><?php if(empty($_GET['area'])) $_GET['area']="17,240,2038,3409";?>
<data id="area0"></data><data id="area1"></data><data id="area2"></data><data id="area3"></data>
<script>ajax_area('{$info['area']}','area');</script></td>
          <td align="right">费用类别</td>
          <td><?php echo model('event')->get_rmb($about['rmb'])?> 人均<input name="about[rmbs]" value="{$about['rmbs']}" class="text_value" style="width:60px"/> 元</td>
        </tr>
        <tr>
          <td align="right">活动开始时间</td>
          <td width="350">
          <input name="stime"  id="stime" type="text" class="text_value" style="width:80px; float:left" value="{$php(echo date('Y-m-d',$info['stime']))}" reg="\S" msg="开始时间不能为空" readonly/>
          <select name="shtime"><?php echo model('badu')->get_h_select($info['shtime']); ?></select>点 
          <select name="sitime"><?php echo model('badu')->get_i_select($info['sitime']); ?></select>分
          </td>
          <td align="right">活动结束时间</td>
          <td>
          <input name="etime"  id="etime" type="text" class="text_value" style="width:80px; float:left" value="{$php(echo date('Y-m-d',$info['etime']))}" reg="\S" msg="开始时间不能为空" readonly/>
          <select name="ehtime"><?php echo model('badu')->get_h_select($info['ehtime']); ?></select>点 
          <select name="eitime"><?php echo model('badu')->get_i_select($info['eitime']); ?></select>分
          </td>
        </tr>
         <tr>
          <td width="100" align="right">招募人数</td>
          <td><input name="zmrs" type="text" class="text_value" id="zmrs" style="float:left; width:50px;" value="{$info.zmrs}" reg="\S" msg="招募人数不能为空" />人</td>
        <td width="100" align="right">服务时数</td>
        <td><input name="vtime" type="text" class="text_value" id="vtime" style="float:left; width:50px;" value="{$info.vtime}" reg="\S" msg="服务时数不能为空" />小时</td>
        </tr>
         <tr>
          <td width="100" align="right">活动联络人</td>
          <td><input name="zmr" type="text" class="text_value" id="zmr" style="float:left; width:200px;" value="{$info.zmr}" reg="\S" msg="活动联络人不能为空" /></td>
        <td width="100" align="right">联络人电话</td>
        <td><input name="zmtel" type="text" class="text_value" id="zmtel" style="float:left; width:200px;" value="{$info.zmtel}" reg="\S" msg="联络人电话不能为空" /></td>
        </tr>
         <tr>
          <td width="100" align="right">集合地点</td>
          <td><input name="about[zmdd]" type="text" class="text_value" id="zmdd" style="float:left; width:200px;" value="{$about.zmdd}" reg="\S" msg="集合地点不能为空" /></td>
        <td width="100" align="right">招募对象</td>
        <td>
          <input name="zmdx" type="radio" value="1" <!--if:{$info['zmdx']==1}-->checked="checked"<!--{/if}-->  />团队成员
          <input name="zmdx" type="radio" value="0" <!--if:{$info['zmdx']==0}-->checked="checked"<!--{/if}-->  />所有志愿者
        </td>
        </tr>
      <tr>
        <td width="100" align="right">报名审批</td>
        <td>
        <input name="zmbm" type="radio" value="0" <!--if:{$info['zmbm']==0}-->checked="checked"<!--{/if}-->  />需要审批
        <input name="zmbm" type="radio" value="1" <!--if:{$info['zmbm']==1}-->checked="checked"<!--{/if}-->  />不需要审批
        </td>
        <td width="100" align="right">招募状态</td>
        <td><input name="status" type="radio" value="1"  <!--if:{$info['status']==1}-->checked="checked"<!--{/if}-->  /> 招募中&nbsp;&nbsp;<input name="status" type="radio"  <!--if:{$info['status']==0}-->checked="checked"<!--{/if}-->  /> 招募结束&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td width="100" align="right">招募截止日期</td>
        <td>
        <input name="ztime"  id="ztime" type="text" class="text_value" style="width:260px; float:left" value="{$php(echo date('Y-m-d',$info['ztime']))}" reg="\S" msg="招募截止时间 不能为空" readonly="readonly"/>
        </td>
        <td width="100" align="right">报名格式模版</td>
        <td>
          <select name="bmgs"  reg="." id="bmgs" msg="报名格式模版未选择">
              <option value="0">======默认格式======</option>
              <!--foreach:{$form_list $vo}--> 
              <option value="{$vo['id']}" <?php if($info['bmgs']==$vo['id']) { ?> selected="selected" <?php } ?>>
                  {$vo['name']}
              </option>
              <!--{/foreach}-->
          </select> </td>
       </tr>
      <tr><td colspan="4">默认报名格式内容为：会员编号、姓名、联系电话、报名时间，如需要其他选项，请先创建报名格式模版，创建报名格式模版时请不要设置默认格式已有的如会员编号等字段内容。</td></tr>
	</table>
    </div>
    <div class="page_table form_table" id="tab2">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100" align="right">活动说明</td>
        <td>
          <?php echo module('editor')->get_editor('content'); ?>
          <textarea name="about[content]" style="width:100%; height:350px;" id="content">{$info_data.content html}</textarea>
          <input type="button" onclick="javascript:get_remote_image()" style="margin-top:10px;" class="button_small" value="远程图片本地化" />
          <?php echo module('editor')->get_editor_upload('editor_upload','editor_content') ?>
          <input type="button" id="editor_upload" class="button_small" style="margin-top:10px;" value="上传图片和文件到编辑器" />
          <!--hook-->
        	<?php module('common')->plus_hook('content','tools',$info);  ?>
      	  <!--hook end-->
          </td>
      </tr>
      <tr>
        <td width="100" align="right">描述</td>
        <td><textarea name="description" class="text_textarea" id="description">{$info.description}</textarea>
          &nbsp;&nbsp;<input type="button" id="" onclick="javascript:get_description()" class="button_small" value="提取描述" />
        </td>
        </tr>
      <tr>
        <td width="100" align="right">参加条件</td>
        <td>
          <?php echo module('editor')->get_editor('zmtj'); ?>
          <textarea name="about[zmtj]" style="width:100%; height:350px;" id="zmtj">{$info_data.zmtj html}</textarea>
          <?php echo module('editor')->get_editor_upload('editor_zmtj','editor_zmtj') ?>
          <input type="button" id="editor_zmtj" class="button_small" style="margin-top:10px;" value="上传图片和文件到上方编辑器" />
         </td>
      </tr>
      <tr>
        <td width="100" align="right">注意事项</td>
        <td>
          <?php echo module('editor')->get_editor('zmzy'); ?>
          <textarea name="about[zmzy]" style="width:100%; height:350px;" id="zmzy">{$info_data.zmzy html}</textarea>
          <?php echo module('editor')->get_editor_upload('editor_zmzy','editor_zmzy') ?>
          <input type="button" id="editor_zmzy" class="button_small" style="margin-top:10px;" value="上传图片和文件到上方编辑器" />
          </td>
      </tr>
      </table>
    </div>
    <?php if(model('user_group')->model_power('content','add')||model('user_group')->model_power('content','edit')){ ?>
    <!--普通提交-->
    <div class="form_submit">
      <input name="id" type="hidden" value="{$info.id}" />
      <input name="file_id" id="file_id" type="hidden" value="{$file_id}" />
      <button type="submit" class="button">保存</button>
    </div>
    <?php } ?>    
    </div>
  </form>
</div>
{include file="event/common"}