<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>你可以在这里为不能线上报名的志愿者添加报名信息</small> </div>
  <div class="exercise"> 
	<a href="__URL__/team/id-{$info.id}">报名列表</a>
	<a href="javascript:history.go(-1)">返回上页</a></div>
   </div>
</div>
<div class="page_main">
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr><th><center>操作</center></th><th><center>编号</center></th><th><center>姓名（昵称）</center></th><th><center>电话</center></th><th><center>报名时间/IP来源</center></th><th><center>状态</center></th></tr>	

      <!--foreach:{$list $vo}-->
      <tr>
        <td><center><input name="id[]" value="{$vo.id}" type="checkbox" /></center></td>
        <td><center><a href="javascript:;" onclick="openart('__APP__/member/edit/id-{$vo.uid}','查看{$vo.uname}资料')">{$vo.vcard}</a></center></td>
        <td><center><a href="javascript:;" onclick="openart('__APP__/member/edit/id-{$vo.uid}','查看{$vo.uname}资料')">{$vo.uname}</a></center></td>
        <td><center>{$vo.tel}</center></td>
        <td><center>{$php(echo date('Y-m-d',$vo['dtime']))}/{$vo.ip}</center></td>
        <td><center>
        <!--if:{$vo['status']==0}--><font color="blge">待审批</font><!--{/if}--> 
        <!--if:{$vo['status']==1}--><font color="blue">已通过</font><!--{/if}--> 
        <!--if:{$vo['status']==2}--><font color="red">未通过</font><!--{/if}--> 
        <!--if:{$vo['status']==3}--><font color="gree">已请假</font><!--{/if}--> 
        <!--if:{$vo['status']==4}--><font color="#CC9933">已缺席</font><!--{/if}--> 
        
        </center></td>
      </tr>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
<div class="page_tool">
  <div class="function">
  <input type="button" onclick="javascript:selectall('id[]');" class="button_small" value="全选" />
  <input type="button" onclick="javascript:audit(1);"  class="button_small" value="通过" />
  <input type="button" onclick="javascript:audit(2);" class="button_small" value="未通过" />
  <input type="button" onclick="javascript:audit(3);" class="button_small" value="请假" />
  <input type="button" onclick="javascript:audit(4);" class="button_small" value="缺席" />
  <input type="button" onclick="javascript:audit(0);"  class="button_small" value="待审" />
  </div>
  <div class="page" >{$page}</div>
</div>

</div>
<script type="text/javascript">
var win = art.dialog.open.origin;
//提交表单
function openart(url,title){
	urldialog({
	title:title,
	url:url,
	width:980,
	height:600
	});
}
//选择
function selectall(name){   
    $("[name='"+name+"']").each(function(){//反选   
    if($(this).attr("checked")){   
          $(this).removeAttr("checked");   
    }else{   
          $(this).attr("checked",'true');   
    }   
    })  
}
//批量操作
function audit(status){
	var str="";
	$("[name='id[]']").each(function(){//反选   
    if($(this).attr("checked")){
		  str+=$(this).val()+","; 
    }
    })
	ajaxpost({
		name:'您确认要继续进行操作吗？操作将无法撤销！',
		url:"__URL__/batch",
		data:{status: status, id:str},
		tip:1,
		success:function(){
			window.location.reload();	
		}
	});
}

</script>