<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>使用以下功能进行{$action_name}操作</small> 
  </div>
</div>
<div class="tab" id="tab"> <a class="selected" href="#">{$action_name}</a> 
<?php if(model('user_group')->model_power('area',1)){ ?>
<a  href="javascript:menuload('__APP__/area')">返回列表</a>
<?php } ?>
</div>
<div class="page_form">
<form action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100" align="right">分级</td>
        <td width="300">
        <select name="pid" id="pid">
            <option value="0">=====顶级=====</option>
            <!--foreach:{$list $vo}-->
            <option <!--if:{$vo['cid']==$info['pid']}-->selected="selected"<!--{/if}--> value="{$vo.cid}">{$vo.cname}</option>
            <!--{/foreach}-->
        </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td width="100" align="right">名称</td>
        <td width="300">
        <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="名称不能为空" />
        </td>
      </tr>
      <tr>
        <td width="100" align="right">类别</td>
        <td width="300">
        <?php if(!isset($info['type'])){ $info['type']=1; } ?>
        <input name="type" type="radio" value="0" <!--if:{$info['type']==0}-->checked="checked"<!--{/if}--> />
        省级
        &nbsp;&nbsp;
        <input name="type" type="radio" value="1" <!--if:{$info['type']==1}-->checked="checked"<!--{/if}--> />
        市级
        &nbsp;&nbsp;
        <input name="type" type="radio" value="2" <!--if:{$info['type']==2}-->checked="checked"<!--{/if}--> />
        区县
        &nbsp;&nbsp;
        <input name="type" type="radio" value="3" <!--if:{$info['type']==3}-->checked="checked"<!--{/if}--> />
        乡镇街道
        </td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">显示</td>
        <td width="300">
        <?php if(!isset($info['show'])){ $info['show']=1; } ?>
        <input name="show" type="radio" value="1" <!--if:{$info['show']==1}-->checked="checked"<!--{/if}--> />
        显示
        &nbsp;&nbsp;
        <input name="show" type="radio" value="0" <!--if:{$info['show']==0}-->checked="checked"<!--{/if}--> />
        隐藏
        </td>
      </tr>
      <tr>
        <td width="100" align="right">顺序</td>
        <td width="300">
        <input name="sequence" type="text" class="text_value" id="sequence" value="{$info.sequence isset="0"}" />
        </td>
      </tr>
    </table>
</div>
<?php if(model('user_group')->model_power('category','add')||model('user_group')->model_power('category','edit')){ ?>
<!--普通提交-->
<div class="form_submit">
<input name="file_id" id="file_id" type="hidden" value="{$file_id}" />
<input name="cid" type="hidden" value="{$info.cid}" />
<button type="submit" class="button">保存</button> 
</div>
<?php } ?>
</form>
</div>
</div>
{include file="area/common"}