<div class="page_function">
  <div class="info">
    <h3>{$model_name}</h3>
    <small>使用以下功能进行操作</small> </div>
  <div class="exercise"> 
   <a href="__URL__/">所有{$model_name}</a>
   <?php if(model('user_group')->model_power($model_url,'add')){ ?>
   <a href="__URL__/add">创建{$model_name}</a>
   <?php } ?>
   </div>
</div>
<div class="page_main">
  <div class="page_menu">
  {include file="info/index_search"}
  </div>

  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<th>选择 / {$model_name}名称</th>
        <th width="15%"><center>发布日期</center></th>
        <th width="20%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td title="{$vo.name}"><input name="id[]" type="checkbox" id="id[]" value="{$vo['id']}" ><a href="javascript:;" onclick="quickeditor('__URL__/info/id-{$vo.id}','{$vo.name}')"> {$vo.name}</a></td>
        <td><center>{$vo.dtime time="Y-m-d"}</center></td>
        <td><center>
	        <a href="javascript:;" onclick="quickeditor('__URL__/info/id-{$vo.id}','{$vo.name}')">[{$model_name}详情]</a>
		   <?php if(model('user_group')->model_power($model_url,'edit')){ ?>
	        <a href="__URL__/edit/id-{$vo.id}">修改</a>
	        <?php } ?>
		   <?php if(model('user_group')->model_power($model_url,'del')){ ?>
	        &nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{$vo.id}',this)">删除</a>
		   <?php } ?>
        </center></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
  <div class="function">
	  <input type="button" onclick="javascript:selectall('id[]');" class="button_small" value="全选" />
	   <?php if(model('user_group')->model_power($model_url,'del')){ ?>
	  <input type="button" onclick="javascript:audit(3);" class="button_small" value="删除" />
	  <?php } ?>
	</div>
  <div class="page" >{$page}</div>
</div>
{include file="info/index_common"}