<div class="page_function">
  <div class="info">
    <h3>{$action_name}单页面</h3>
    <small>使用以下功能进行{$action_name}单页面操作</small> 
  </div>
</div>
<div class="tab" id="tab"> 
<a class="selected" href="#">{$action_name}单页面</a> 
<a href="javascript:menuload('{$return_list}')">返回列表</a>
</div>
<div class="page_form">
<form action="__URL__/onepage/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100" align="right">上级栏目</td>
        <td width="300">
          <select name="pid" id="pid">
            <option value="0">=====顶级栏目=====</option>
            <!--foreach:{$category_list $vo}-->
            <option <!--if:{$vo['cid']==$info['pid']}-->selected="selected"<!--{/if}--> value="{$vo.cid}">{$vo.cname}</option>
            <!--{/foreach}-->
            </select>
            &nbsp;&nbsp;<a href="javascript:;" onclick="advanced()">高级设置</a>
          </td>
        <td></td>
      </tr>
      <tr>
        <td width="100" align="right">单页面名称</td>
        <td width="300">
          <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="单页面名称不能为空" />
          </td>
        <td></td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">副名称</td>
        <td width="300">
        <input name="subname" type="text" class="text_value" id="subname" value="{$info.subname}" />
        </td>
        <td></td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">单页面URL名称</td>
        <td width="300">
        <input name="urlname" type="text" class="text_value" id="urlname" value="{$info.urlname}" />
        </td>
        <td></td>
      </tr>
      <tr>
        <td width="100" align="right">单页面缩略图</td>
        <td colspan="2">        
          <?php echo module('editor')->get_image_upload('image1','image',false,'editor_content') ?>
          <input name="image" type="text" class="text_value" id="image" style="width:205px; float:left" value="{$info.image}"/> 
          &nbsp;&nbsp;<input type="button" id="image1" class="button_small" value="上传缩略图(宽度300px以内)" />
        </td>
        </tr>
      
      <tr>
        <td width="100" align="right">内容</td>
        <td colspan="2">
        <?php echo module('editor')->get_editor('content'); ?>
        <textarea name="content" style="width:100%; height:350px;" id="content">{$info.content html}</textarea>
        <input type="button" onclick="javascript:get_remote_image()" style="margin-top:10px;" class="button_small" value="远程图片本地化" />
        <?php echo module('editor')->get_editor_upload('editor_upload','editor_content') ?>
        <input type="button" id="editor_upload" class="button_small" style="margin-top:10px;" value="上传图片和文件到编辑器" />
        <!--hook-->
        <?php module('common')->plus_hook('content','tools',$info);  ?>
      	<!--hook end-->
        </td>
        </tr>
      <tr class="advanced">
        <td width="100" align="right">关键词</td>
        <td width="300">
        <input name="keywords" type="text" class="text_value" id="keywords" value="{$info.keywords}" />
        </td>
        <td>以,号分割</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">描述</td>
        <td width="300"><textarea name="description" class="text_textarea" id="description">{$info.description}</textarea>
        </td>
        <td>对本单页面的简单介绍</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">SEO内容</td>
        <td><textarea name="seo_content" class="text_textarea" id="seo_content">{$info.seo_content html}</textarea>
        </td>
        <td>可以填写HTML代码</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">单页面显示</td>
        <td width="300">
          <?php if(!isset($info['show'])){ $info['show']=1; } ?>
          <input name="show" type="radio" value="1" <!--if:{$info['show']==1}-->checked="checked"<!--{/if}--> />
          显示
          &nbsp;&nbsp;
          <input name="show" type="radio" value="0" <!--if:{$info['show']==0}-->checked="checked"<!--{/if}--> />
          隐藏
          </td>
        <td>控制单页面调用的显示与隐藏</td>
      </tr>
      <tr>
        <td width="100" align="right">栏目顺序</td>
        <td width="300">
        <input name="sequence" type="text" class="text_value" id="sequence" value="{$info.sequence isset="0"}" />
        </td>
        <td>数字越大越在前面</td>
      </tr>
      
      <!--hook-->
        <?php module('common')->plus_hook('category','edit_tpl');  ?>
      <!--hook end-->
      
      <tr>
        <td width="100" align="right">单页面模板</td>
        <td width="300">
        <input name="class_tpl" type="text" class="text_value" id="class_tpl" value="{$info.class_tpl isset="page.html"}" />
        </td>
        <td>用于频道或列表的显示</td>
      </tr>
    </table>
</div>
<!--普通提交-->
<div class="form_submit">
<input name="cid" type="hidden" value="{$info.cid}" />
<input name="file_id" id="file_id" type="hidden" value="{$file_id}" />
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
</div>
{include file="category/common"}
<script>
//远程抓图
function get_remote_image(){
	ajaxpost_w({
		url:'__APP__/editor/get_remote_image',
		data:{content:editor_content.html()},
		tip:2,
		success:function(msg){
			editor_content.html(msg);
		},
		msg:'远程抓图执行完毕'
	});
}
</script>