<div class="page_function">
  <div class="info">
    <h3>{$action_name}栏目</h3>
    <small>使用以下功能进行栏目{$action_name}操作</small> 
  </div>
</div>
<div class="tab" id="tab"> <a class="selected" href="#">{$action_name}栏目</a> 
<?php if(model('user_group')->model_power('category',1)){ ?>
<a  href="javascript:menuload('__APP__/category/index/model-{$info.model}')">返回列表</a>
<?php } ?>
</div>
<div class="page_form">
<form action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100" align="right">上级栏目</td>
        <td width="300">
        <select name="pid" id="pid">
            <option value="0">=====顶级栏目=====</option>
            <!--foreach:{$category_list $vo}-->
            <option <!--if:{$vo['cid']==$info['pid']}-->selected="selected"<!--{/if}--> value="{$vo.cid}">{$vo.cname}</option>
            <!--{/foreach}-->
        </select>
        &nbsp;&nbsp;<a href="javascript:;" onclick="advanced()">高级设置</a>
        </td>
        <td></td>
      </tr>
      <?php if($info){ ?>
      <tr>
        <td width="100" align="right">栏目名称</td>
        <td width="300">
        <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="栏目名称不能为空" />
        </td>
        <td></td>
      </tr>
      <?php }else{ ?>
      <tr>
        <td width="100" align="right">栏目名称</td>
        <td>
        <textarea name="namelist" class="text_textarea" id="namelist"  reg="\S" msg="栏目名称不能为空" ></textarea>
        </td>
        <td>批量添加一行一个栏目名<br>
          每行格式为名称|URL名称</td>
      </tr>
      <?php } ?>
      <tr class="advanced">
        <td width="100" align="right">副栏目名称</td>
        <td width="300">
        <input name="subname" type="text" class="text_value" id="subname" value="{$info.subname}" />
        </td>
        <td></td>
      </tr>
      <?php if($info){ ?>
      <tr class="advanced">
        <td width="100" align="right">栏目URL优化</td>
        <td width="300">
        <input name="urlname" type="text" class="text_value" id="urlname" value="{$info.urlname}" />
        </td>
        <td></td>
      </tr>
      <?php } ?>
      <tr>
        <td width="100" align="right">栏目缩略图</td>
        <td colspan="2">
          <?php echo module('editor')->get_image_upload('image1','image') ?>
          <input name="image" type="text" class="text_value" id="image" style="width:200px; float:left" value="{$info.image}"/>
          &nbsp;&nbsp;<input type="button" id="image1" class="button_small" value="上传缩略图(宽度300px以内)" />
          
        </td>
        </tr>
      <tr class="advanced">
        <td width="100" align="right">关键词</td>
        <td width="300">
        <input name="keywords" type="text" class="text_value" id="keywords" value="{$info.keywords}" />
        </td>
        <td>以,号分割</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">描述</td>
        <td width="300"><textarea name="description" class="text_textarea" id="description">{$info.description}</textarea>
        </td>
        <td>对本栏目的简单介绍</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">SEO内容</td>
        <td><textarea name="seo_content" class="text_textarea" id="seo_content">{$info.seo_content html}</textarea>
        </td>
        <td>可以填写HTML代码</td>
      </tr>
      <tr>
        <td width="100" align="right">栏目属性</td>
        <td width="300">
        <?php if(!isset($info['type'])){ $info['type']=1; } ?>
        <input name="type" type="radio" value="0" <!--if:{$info['type']==0}-->checked="checked"<!--{/if}--> />
        频道页
        &nbsp;&nbsp;
        <input name="type" type="radio" value="1" <!--if:{$info['type']==1}-->checked="checked"<!--{/if}--> />
        列表页
        </td>
        <td>频道页无法发布内容，列表页可以发布内容</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">栏目显示</td>
        <td width="300">
        <?php if(!isset($info['show'])){ $info['show']=1; } ?>
        <input name="show" type="radio" value="1" <!--if:{$info['show']==1}-->checked="checked"<!--{/if}--> />
        显示
        &nbsp;&nbsp;
        <input name="show" type="radio" value="0" <!--if:{$info['show']==0}-->checked="checked"<!--{/if}--> />
        隐藏
        </td>
        <td>控制栏目调用的显示与隐藏</td>
      </tr>
      <tr>
        <td width="100" align="right">内容分页数</td>
        <td width="300">
        <input name="page" type="text" class="text_value" id="page" value="{$info.page isset="10"}" />
        </td>
        <td>栏目下内容每页多少条</td>
      </tr>
      <tr>
        <td width="100" align="right">栏目顺序</td>
        <td width="300">
        <input name="sequence" type="text" class="text_value" id="sequence" value="{$info.sequence isset="0"}" />
        </td>
        <td>数字越大越在前面</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">内容排序</td>
        <td width="300">
        <select name="content_order">
          <option <!--if:{$info['content_order']=='updatetime DESC'}--> selected="selected" <!--{/if}--> value="updatetime DESC">内容更新时间 新-旧</option>
          <option <!--if:{$info['content_order']=='updatetime ASC'}--> selected="selected" <!--{/if}--> value="updatetime ASC">内容更新时间 旧-新</option>
          <option <!--if:{$info['content_order']=='inputtime DESC'}--> selected="selected" <!--{/if}--> value="inputtime DESC">内容发布时间 新-旧</option>
          <option <!--if:{$info['content_order']=='inputtime ASC'}--> selected="selected" <!--{/if}--> value="inputtime ASC">内容发布时间 旧-新</option>
          <option <!--if:{$info['content_order']=='sequence DESC'}--> selected="selected" <!--{/if}--> value="sequence DESC">内容自定义排序 大-小</option>
          <option <!--if:{$info['content_order']=='sequence ASC'}--> selected="selected" <!--{/if}--> value="sequence ASC">内容自定义排序 小-大</option>
        </select>
        </td>
        <td>针对该栏目下内容的排序方式</td>
      </tr>
      <!--hook-->
        <?php module('common')->plus_hook('category','edit_tpl',$info);  ?>
      <!--hook end-->
      <tr>
        <td width="100" align="right">栏目模板</td>
        <td width="300">
        <input name="class_tpl" type="text" class="text_value" id="class_tpl" value="{$info.class_tpl isset="list.html"}"  />
        </td>
        <td>用于频道或列表的显示</td>
      </tr>
      <tr>
        <td width="100" align="right">内容模板</td>
        <td width="300">
        <input name="content_tpl" type="text" class="text_value" id="content_tpl" value="{$info.content_tpl isset="content.html"}"   />
        </td>
        <td>用于该栏目下的内容显示</td>
      </tr>
      <tr class="advanced">
        <td width="100" align="right">扩展模型</td>
        <td width="300">
        <select name="expand" id="expand">
            <option value="0">无</option>
            <!--foreach:{$model_list $vo}-->
            <option value="{$vo.mid}" <?php if($vo['mid']==$info['expand']){ ?> selected="selected" <?php } ?> >{$vo.name}</option>
            <!--{/foreach}-->
        </select>
        </td>
        <td>用于附加内容字段</td>
      </tr>
    </table>
</div>
<?php if(model('user_group')->model_power('category','add')||model('user_group')->model_power('category','edit')){ ?>
<!--普通提交-->
<div class="form_submit">
<input name="file_id" id="file_id" type="hidden" value="{$file_id}" />
<input name="cid" type="hidden" value="{$info.cid}" />
<input name="mid" type="hidden" value="{$info.model}" />
<button type="submit" class="button">保存</button> 
</div>
<?php } ?>
</form>
</div>
</div>
{include file="category/common"}