
<script>
function selectall(){
   var a = document.getElementsByTagName("input");
   for (var i=0; i<a.length; i++)
      if (a[i].type == "checkbox") a[i].checked =true;
}
function selectclear(){
   var a = document.getElementsByTagName("input");
   for (var i=0; i<a.length; i++)
      if (a[i].type == "checkbox") a[i].checked =false;
}
function selectalls(name) {
	var flag=$("input[name='"+name+"']");//.attr('checked');
	flag.each(function() {
		if (this.checked==true){
			this.checked=false;
		}else{
			this.checked=true;
		};
	});
	
}
</script>
<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>使用以下功能进行{$action_name}操作</small> 
  </div>
</div>
<div class="tab" id="tab"> 
<?php if(model('user_group')->model_power('user_group','visit')){ ?>
 <a class="selected" href="javascript:menuload('__URL__/group')">返回列表</a>
 <?php } ?>
 </div>
<div class="page_form">
<form action="__URL__/edit_group/time-<?php echo time() ?>-ajax-true" method="post" id="form">
<div class="page_table form_table" id="tab1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      	<tr>
          <td width="100" align="right">会员组名称</td>
          <td width="300"><input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="会员组名称不能为空"/></td>
          <td><!--if:{$info['keep']==1}-->此为系统保留用户组，除用户组类型及基准值外，其他项可编辑。<!--{/if}--></td>
        </tr>
      	<tr>
          <td width="100" align="right">用户组图标</td>
          <td width="300"><input name="icon" type="text" class="text_value" id="icon" value="{$info.icon}" reg="\S" msg="用户组图标不能为空" /></td>
          <td>用户组图标上传到public/images/member/icon/下</td>
        </tr>
        <tr>
          <td align="right">用户组类型</td>
          <td>
  				<!--if:{$info['keep']==1}-->
  				<?php if(!isset($info['type'])){ $info['type']=0; } ?>
				<input name="type" type="radio" value="1" disabled/>自动升级&nbsp;&nbsp;
  				<!--{else}-->
      			<input name="type" type="radio" value="1" <!--if:{$info['type']==1}--> checked="checked" <!--{/if}--> />自动升级&nbsp;&nbsp;
				<!--{/if}-->
	        	<input name="type" type="radio" value="0" <!--if:{$info['type']==0}--> checked="checked" <!--{/if}--> />人工授权
          </td>
          <td>人工授权类型一般用于刚非认证会员或其他特殊级别用户组</td>
        </tr>
      	<tr>
          <td width="100" align="right">升级基准值</td>
          <td width="300"><input name="credit" type="text" class="text_value" id="credit" value="{$info.credit}" reg="\S" msg="升级基准值不能为空，如果该组类型不是自动升级类型，此处请填0"  <!--if:{$info['keep']==1}-->readonly<!--{/if}-->/></td>
          <td>升级需要会员达到多少分才可升级，比如会员达到100服务小时，则自动升级为一星级会员组</td>
        </tr>
        <tr>
          <td width="100" align="right">会员中心权限</td>
          <td colspan="2">
          <fieldset class="source">
          <legend onclick="selectalls('power[]')" >选择权限</legend>
              <input name="power[]" value="1" <!--if:{in_array(1,$power)}--> checked="checked" <!--{/if}--> type="checkbox"> 首页&nbsp;&nbsp;
              <input name="power[]" value="2" <!--if:{in_array(2,$power)}--> checked="checked" <!--{/if}--> type="checkbox"> 管理活动&nbsp;&nbsp;
              <input name="power[]" value="3" <!--if:{in_array(3,$power)}--> checked="checked" <!--{/if}--> type="checkbox"> 管理服务时数&nbsp;&nbsp;
              <input name="power[]" value="4" <!--if:{in_array(4,$power)}--> checked="checked" <!--{/if}--> type="checkbox"> 管理分享文章&nbsp;&nbsp;
              <input name="power[]" value="5" <!--if:{in_array(5,$power)}--> checked="checked" <!--{/if}--> type="checkbox"> 编辑资料&nbsp;&nbsp;
          </fieldset>
          </td>
        </tr>
    </table>
</div>
<?php if(model('user_group')->model_power('user_group','add')||model('user_group')->model_power('user_group','edit')){ ?>
<!--普通提交-->
<div class="form_submit">
<input name="id" type="hidden" value="{$info.id}" />
<button type="button" class="button" onclick="javascript:selectall()">全选</button>
<button type="button" class="button" onclick="javascript:selectclear()">清空全选</button>
<button type="submit" class="button">保存</button> 
</div>
<?php } ?>
</form>
</div>
</div>
<script type="text/javascript">
//提交表单
savelistform({addurl:"__URL__/edit_group/id-{$info.id}",listurl:"__URL__/group"});
</script>