<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{$css}
{$js}
</head>
<body scroll="no">
<div class="page_function">
  <div class="info">
    <h3>友情连接添加</h3>
    <small>使用以下功能进行友情连接添加操作</small>
  </div>
</div>
<div class="page_form">
<form action="__URL__/add_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">连接分类</td>
        <td width="300">
	          <select  name="cid" id="cid"  datatype="*">
	          	{$type}
	          </select>
        </td>
      </tr>

      <tr>
        <td width="120">网站名称</td>
        <td width="300">
        <input name="name" type="text" class="text_value" id="name" value="" reg="\S" msg="网站名称不能为空" />
        </td>
      </tr>
      <tr>
        <td width="120">网站地址</td>
        <td width="300">
        <input name="url" type="text" class="text_value" id="url" value="" reg="[0-9a-zA-Z_]" msg="网站地址只能为英文、数字和下划线" />
        </td>
      </tr>
      <tr>
        <td width="120">网站logo</td>
        <td width="300">
         <?php echo module('editor')->get_image_upload('image1','logo',false) ?>
          <input name="logo" type="text" class="text_value" id="logo" style="width:185px; value=""/> 
          &nbsp;&nbsp;<input type="button" id="image1" class="button_small" value="上传缩略图" />
        </td>
      </tr>
    </table>
</div>

<div class="form_submit">
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
</div>
<script type="text/javascript">
var win = art.dialog.open.origin;
saveform({
	success:function(){
		win.location.reload();
    	art.dialog.close();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);

</script>
</body>
